/*reset*/
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;

 } 

 .grid-container {
    display: grid;
    border: 3px solid black;
    grid-template-rows: 89px 60px 185px 100px 1.5fr 0.2fr 130px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'nav-pin nav-prin nav-prin nav-prin'
    'nav-sec nav-sec nav-sec nav-sec'
    'main main main main'
    'promo promo promo promo'
    'box-venta box-venta box-venta box-venta'
    'descuentos descuentos descuentos descuentos'
    'pie pie pie pie'
    ;


}
.grid-container-electro {
    display: grid;
    grid-template-rows: 89px 200px 3fr 0.2fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'nav-pin nav-prin nav-prin nav-prin nav-prin'
    'main main main main main'
    'nav-hor box-venta box-venta box-venta box-venta'
    'pie pie pie pie pie'
    ;
}
 

.nav-prin{
    grid-area: nav-prin;
}
.nav-sec{
    grid-area: nav-sec;

}
.g-main{
    grid-area: main;
}
.nav-hor{
    grid-area: nav-hor;
}
.promo{
    grid-area: promo;
}
.g-box-venta{
    grid-area: box-venta;
}
.descuentos{
    grid-area: descuentos;
}
.pie{
    grid-area: pie;
}
/*header*/
.navprincipal{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    display: flex;
}

.icono {
    width: 80px;
    height: 60px;
    margin: 15px;
}

.navprincipal__navbar {
    background: linear-gradient( #5A145A, #240824);
    display: flex;
    width: 100%;
    
    

}
.navprincipal__navbar__nav{
    display: flex;
 
}


.navprincipal__navbar__nav__listas {
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
}

.navprincipal__navbar__nav__listas li{
    list-style: none;
    color: #ffffff;
    display:flex;
    margin: 0px 15px 15px 15px ;
    

}
.navprincipal__navbar__nav__listas li a{
    color: #ffffff;
    text-decoration: none;
    

}

.navsecundario {
    position: fixed;
    width: 100%;
    top: 89px;
    z-index: 2;
    display: flex;
}
.navsecundario__listas{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 0px 20px;
}

.navsecundario__navbar {
    background-color: #ffffff;
    display: flex;
    width: 100%;
}

.navsecundario__navbar__nav{
    display: flex;
    justify-content: center;
    width: 90%;
    
}
.navsecundario__navbar__nav__listas__barra {
    width: 35px;
    height: 35px;
    margin: 10px 15px;
}

.navsecundario__navbar__nav__listas{
    display: flex;
    padding-left: 35px;
    margin-top: 15px;   
}

.navsecundario__navbar__nav__listas li{
    list-style: none;
}
.navsecundario__navbar__nav__listas li a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    margin-right: 44px;

}

/*main*/

.carrusel {
    height: 200px ;
    display: flex;

}


.carrusel__deslizamiento{
    z-index: 0;
}


.fondo-construccion{
    background-image:url('../assets/construccion.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    display: flex;
    height: 200px;
}
.fondo-construccion-electro{
    background-image:url('../assets/electricidad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    display: flex;
    height: 200px;
    
}

.fondo-construccion-plomeria{
    background-image:url('../assets/Plomeria.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    display: flex;
    height: 200px;
    
}
.fondo-construccion div{
    display: flex;
}


.promociones {
    display: flex;
    padding: 30px;
    justify-content: center;

}

.promociones h3{
    font-size: 30px;
}
/*body*/

body {
    background-color: #e6e4e4;
}

.navbarHorizontal {
    display: flex;
    border-right: 1px solid #0000007c;
    border-top:1px solid #0000007c;
    border-radius: 5px;
    height: 100%;
    margin-top: 10px;
}
.navHor__nav__listas{
    display: flex;
    color: #000000;
    font-weight: 500;
    flex-flow: column;
    padding: 20px;
}
.navbarHorizontal__nav__listas li{
    list-style: none;
    text-decoration: none;
    padding: 15px;
}

.boxventa{
    display: flex;
    flex-flow: wrap;
    margin: px;
    justify-content: center;
    
}
.boxventa_flex {
    display: flex;
    margin-bottom: 15px;
}

.boxventa__card {
    background-color: #ffffff;
    margin-right: 25px;   
    border: #000000 1px solid;
    width: 210px;
    height: 390px;
    margin-left: 15px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 3px #0000003f ;

}
.boxventa__card h3{
    
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 12px;
    text-align: center;
    background-color: #a3a1a1;
    border-radius: 10px 10px 0px 0px;
    justify-content: center;

    position: relative;
    
}



.boxventa__card img{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    margin-left: 18px;
    margin-top: 10px;

    

}

.boxventa__card p {
    padding: 5px 15px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

.boxventa__card__iconoOferta{

    position: relative;
    top: -25px;
    right: -242px;
}

.boxventa__card__iconoOferta img{
    width: 50px;
    height: 50px;
}

.boxventa__card__precio{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    top: -12px;
    left: 30px;
    
}
.boxventa__card__botoncomprar{
    background: linear-gradient( #5A145A, #240824);
    color: #ffffff;
    padding: 10px  15px;
    border-radius: 5px;
    position: relative;
    top: -13px;
    left: 48px;    
}

.descuentosExclusivos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.descuentosExclusivos__card {
    display: flex;
    margin: 10px;
    width: 100%;
    
}
.descuentosExclusivos__card__imagen {
    width: 170px;
    height: 170px;
}

.footFlex{
    display: flex;
    background: linear-gradient( #5A145A, #240824);
    justify-content: center;
    
    
}
.footFlex__foot{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;

}
.footFlex__foot__lista{
    display: flex;
    flex-flow: column;
    margin-right: 15px;
    
}
.footFlex__foot ul li{
    padding: 10px;
    color: #ffffff;
    list-style: none;
    font-size: 12px;
    
}

/*media query*/

@media (max-width: 720px){
    .grid-container {
        display: grid;
        border: 3px solid black;
        grid-template-rows: 89px 60px 100px 100px 1.5fr 0.2fr 220px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'nav-pin nav-prin nav-prin nav-prin'
        'nav-sec nav-sec nav-sec nav-sec'
        'main main main main'
        'promo promo promo promo'
        'box-venta box-venta box-venta box-venta'
        'descuentos descuentos descuentos descuentos'
        'pie pie pie pie'
        ;
    
    }
    .grid-container-electro {
        display: grid;
        grid-template-rows: 89px 200px 3.4fr 140px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        'nav-pin nav-prin nav-prin nav-prin nav-prin'
        'main main main main main'
        'nav-hor box-venta box-venta box-venta box-venta'
        'pie pie pie pie pie'
        ;
    }
    .barra{
        display: none;
     }
     .navsecundario__navbar{
        align-items: center;
     }
     .navsecundario__navbar__nav__listas{
        margin-left: 60px;
    }
    .navsecundario__navbar__nav__listas li{
        padding-left: 30px;
        justify-content: center;
        
    }

    .navsecundario__navbar__nav__listas li a {
        font-size: 16px;
  
    
    }
}

@media (max-width: 480px){
 .grid-container{
    border: 3px solid black;
    grid-template-rows: 79px 264px 80px 84px 1.8fr  0.2fr 58px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'nav-prin nav-prin'
    'nav-sec nav-sec'
    'main main'
    'promo promo'
    'box-venta box-venta'
    'descuentos descuentos'
    'pie pie'
    ;
    }
    

    .grid-container-electro{
        grid-template-rows: 89px 200px 3.2fr 200px 58px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'nav-pin nav-prin '
        'main main'
        'box-venta box-venta'
        'pie pie';
    }

    .navprincipal__navbar{
        height: 100px;
    }
    .navprincipal__navbar__nav__listas {
        display: flex;
        padding-left: 0px;
        padding-top: 25px;
    }
    .icono{
        width: 45px;
        height: 35px;
        margin-left: 15px;
        margin-right: 5px;
        
    }

    .barra{
        display: none;
    }
    .navprincipal__navbar__nav__listas li{
        display: flex;
        padding: 0px;
    }

    .navsecundario__navbar__nav__listas{
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: 0px;
    
    }
    .navsecundario__navbar__nav__listas li{
    font-size: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1px 1px #000000;
    padding: 10px;
    

    }
    .navsecundario__navbar__nav__listas li a {
        display: flex;
        justify-content: center;
        padding-left: 40px;

    }
    .titulo-presupuesto{
        font-size: 18px;
    }
    .promociones h3{
        font-size: 20px;
    }

    
    .navbarHorizontal{
        display: none;
    }

    .box-venta{

    }



    .footFlex__foot__lista{
        flex-flow: row;
    }

    .foot-2{
        display: none;
    }
    .foot-3{
        display: none;
    }
    .foot-4{
        display: none;
    }




}